/* 再生中の曲が無い場合は共有ボタンを無効化 */
#player:not(.active) #now-playing-for-google-play-music__share-button {
  color: #e0e0e0;
  pointer-events: none;
  cursor: auto;
}

#player:not([style-scope]):not(.style-scope)
  paper-icon-button[data-id='queue'].opened:not([style-scope]):not(.style-scope).disable {
  color: #e0e0e0 !important;
  pointer-events: none !important;
  cursor: auto !important;
}

#queue-overlay.hidden {
  display: none !important;
}
